
.footer{
    padding:40px;
    border-radius: 15% 15% 0 0 ;
    width: 100%;
    height: 4rem;
    left: 0;
    color: white;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    z-index: 2;
  }
  
  #logos {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
  }
  #linkedin {
    width: 70px;
  }
  #github {
    width: 60px;
  }
